@font-face {
    font-family: "Rubik Vinyl Static";
    src: url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rubik+Vinyl&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
} 
@font-face {
    font-family: "Roboto";
    src: url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

 
.container,html {
    background-color: hsl(40, 50%, 91%);
    width: 1212px;
    height: 100vh;
    
}

#green {
    margin-top: 25px;
    width: 1190px;
    background-color: green;
    height: 8vh;
    margin-left: 10px;
}
main {
    margin: 10px 20px;
    height: 90vh;
    width: 95vw;
    background-color: whitesmoke;
    /* box-shadow: 5px, 5px, 5px, 5px, 5px black; */
    display: flex;
    
}
nav ul {
    display: flex;
    justify-content: end;
    margin-right: 40px;
}
nav ul li:nth-child(1) {
    position: relative;
    left: 10px;
}
nav ul .first-row {
    list-style: none;
    padding-right: 25px;
    margin: -25px 0px 5px 0px
    
}
/* sign out button style */
nav ul #sign-out {
    border: 2px solid black;
    border-radius: 12px;
    padding: 5px 5px 5px 5px;
    width: 80px;
    height: 30px;
    position: relative;
    top:-15px;
    left: 10px;
    list-style: none;
    text-align: center;
}
#ul-list {
    position: relative;
    right: 280px;
    margin-right: 10px;
    margin-bottom: -25px;
}

#ul-list li:nth-child(1) {
    position: relative;
    left: -105px;
    margin-top: -30px;
    list-style: none;
}
#ul-list li:nth-child(2) {
    position: relative;
    left: -30px;
    margin-top: -30px;
    list-style: none;
}

#ul-list li:nth-child(3) {
    position: relative;
    left: 30px;
    margin-top: -30px;
    list-style: none;
}

#ul-list li:nth-child(4) {
    position: relative;
    left: 90px;
    margin-top: -30px;
    list-style: none;
}

#ul-list li:nth-child(5) {
    position: relative;
    left: 140px;
    margin-top: -30px;
    list-style: none;
}

footer {
    background-color: hsl(40, 50%, 91%);
}
footer ul {
    display: flex;
    justify-content: space-evenly;
}

footer ul li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 24px;
}
hr {
    font-weight: bolder;
    background-color: black;
    margin-bottom: 10px;
}
.grid-container {
    display: inline-grid;
    grid-template-columns: 80px 80px 80px 80px;
    width: 320px;
    height: 460px;
    padding: 30px 20px 30px 20px;
    

}
.grid-container div {
    border: 2px solid black;
    text-align: center;
    padding-top: 10px;
}

.item-info-container div span{
    color: lightskyblue;
    font-size: 30px;
    display: inline-block;
    margin: 25px -40px 0px 150px;
    
}
.gray {
    background-color: gray;
    text-align: center;
    margin: 0px 0px 0px 70px;
    height: 40px;
    padding: 10px 0px
}
.dark-gray {
    background-color: darkgray;
    text-align: center;
    margin: 0px 0px 0px 70px;
    height: 160px;
    width: 220px;
    padding: 0px 0px 0px 0px;
    font-size: 120px;
    display: flex;
    flex-direction: column;
}
p {
    text-align: center;
    padding: 2px 0px 2px 0px;
    
}


img {
    margin: 60px 0px 0px 0px;
    height: 200px;
    width: 220px;
}
 span.pick-amount {
    position: relative;
    bottom: 40px;
    right: 115px;
    display: inline-block;
    width: 160px;
}

 div.item-image {
    width: 300px;
    text-align: center;

 }
p.description {
    width: 700px;
    position: relative;
    right: 220px;
    top: 40px;
    text-align: center;
    line-height: 20px;
    padding-top: 0px;
 } 
 
 .secondary-img img {
    margin: 60px 20px 0px 0px;
 }
 #status {
    margin-left: 100px;
    
 }
 #gold {
    background-color: #87cefa;
 }
 #damage {
    color: darkgrey;
 }
 .left {
    display: flex;
    /* border: 2px solid black; */
    width: 300px;
    height: 90px;
    margin: 0px 0px -50px 0px;
    transform: translateY(10px) translateX(80px);
    justify-content: space-evenly
 }
 
 .left p span {
    text-align: left;
 }
 .left hr {
    height: 50px;
 }
.user-info {
    display: flex;
    position: relative;
    bottom: 5px;
    flex-direction: column;
    
}
.user-info p {
    text-align: left;
}
